{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>

    <title>TopicFinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
  
  		<form id = "searchForm" method="GET" action="{% url 'search' %}">
  		{% csrf_token %}
  		Enter a Topic:
  		<input type="text" name="topic">
  		<input type="submit" value="Search">
  		</form>
  		
  		{% if response.status == 1 %}
  		
  		<strong>Wiki:</strong>
  		<br>
  		{% if response.topics.wiki != None %}
  			<ul>
  			{% for message in response.topics.wiki %}
  			<li><a href={{ message.1 }}>{{ message.0 }}</a></li>
  			{% endfor %}
    		</ul>
    	{% else %}
    		<strong>{{ response.message }}</strong>
    		<br>
    		<br>
  		{% endif %}
  		<br>
  		
  		<strong>Twitter:</strong>
  		<br>
  		{% if response.topics.twitter != None %}
  			<ul>
  			{% for message in response.topics.twitter %}
  			<li><a href={{ message.1 }}>{{ message.0 }}</a></li>
  			{% endfor %}
    		</ul>
    	{% else %}
    		<strong>{{ response.message }}</strong>
    		<br>
  		{% endif %}
  			
    	{% else %}
    		<strong>Server Error:</strong>
    		<br>
    		<strong>{{ response.message }}</strong>
    	{% endif %}
  		
  <div class="container">

  </div>

  <!-- JavaScript Includes -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{% static "host.js" %}"></script>

  </body>
  
</html>