{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>

    <title>TopicFinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
  
  		<form id = "searchForm" method="GET" action="{% url 'search' %}">
  		{% csrf_token %}
  		Enter a Topic:
  		<input type="text" name="topic">
  		<input type="submit" value="Search">
  		</form>
  		
  		{% if response.status == 1 %}
  		
  		{% if response.topics != none %}
  		
  		{% for topics,messages in response.topics.items %}
  			<strong>{{topics}}:</strong>
  			<br>
  			<ul>
  			{% for message in messages %}
  			<li><a href={{ message.1 }}>{{ message.0 }}</a></li>
  			{% endfor %}
    		</ul>
    		<br>
    	
    	{% endfor %}
    	
    	{% endif %}
  			
    	{% else %}
    		<strong>server error:</strong>
    		<br>
    		<strong>{{ response.message }}</strong>
    	{% endif %}
  		
  <div class="container">

  </div>

  <!-- JavaScript Includes -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{% static "host.js" %}"></script>

  </body>
  
</html>